# Vercel
NEXT_PUBLIC_API_BASE=
NEXT_PUBLIC_BETTER_AUTH_CLIENT_ID=

# Cloudflare Worker API
CF_ACCOUNT_ID=
CF_API_TOKEN=
DATABASE_ID=
KV_RATE_LIMIT=
ORIGIN_WEB=
BETTER_AUTH_GOOGLE_CLIENT_ID=
BETTER_AUTH_GOOGLE_CLIENT_SECRET=
BETTER_AUTH_JWT_SECRET=
